# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Next-Auth URL https://next-auth.js.org/warnings#nextauth_url
NEXTAUTH_URL="http://localhost:3000"
# Next-Auth Secret https://next-auth.js.org/warnings#no_secret
NEXTAUTH_SECRET=""

# Google Provider OAUTH https://next-auth.js.org/providers/google

# Google Client ID
NEXTAUTH_GOOGLE_CLIENT_ID=""
# Google Client Secret
NEXTAUTH_GOOGLE_CLIENT_SECRET=""
